/* @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */
  
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 96%;
  --foreground: 0 0% 20%;
  --card: 356 50% 100%;
  --card-foreground: 356 5% 15%;
  --popover: 356 100% 100%;
  --popover-foreground: 356 100% 10%;
  --primary: 356 83% 51.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 318 30% 95%;
  --muted-foreground: 225 8% 53%;
  --accent: 318 30% 90%;
  --accent-foreground: 356 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 356 5% 100%;
  --border: 356 30% 82%;
  --input: 356 30% 50%;
  --ring: 356 83% 51.6%;
  --radius: 0.75rem;
}

.dark {
  --background: 356 50% 10%;
  --foreground: 356 5% 100%;
  --card: 356 50% 10%;
  --card-foreground: 356 5% 100%;
  --popover: 356 50% 5%;
  --popover-foreground: 356 5% 100%;
  --primary: 356 83% 51.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 356 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 318 30% 25%;
  --muted-foreground: 225 8% 53%;
  --accent: 318 30% 25%;
  --accent-foreground: 356 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 356 5% 100%;
  --border: 356 30% 50%;
  --input: 356 30% 50%;
  --ring: 356 83% 51.6%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply text-foreground antialiased;
  }
}